h1{
    text-align: center;
    color:pink
}
h2{
    border-bottom:solid 2px black;
}
.side{
    width: 300px;
}
article{
    display:flex ;
}

#top{
    position: fixed;
    left: 10px;
    bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #444444;
    color: #ffffff;
}