#logo{
    text-align: center;
}

article{
    width: 65%;
    margin: auto;
}

figure{
    text-align: center;
}

h1{
    color:green
}

h2{
    border-bottom:solid 2px black;
}

#overview{
    margin: 40px;
    padding: 0px 20px 20px 20px;
    border: solid black;
}

#overview h2{
    border: none;
}

#top{
    position: fixed;
    left: 10px;
    bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #444444;
    color: #ffffff;
}